.no-content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}