@import url(https://fonts.googleapis.com/css?family=Geologica:100,200,300,regular,500,600,700,800,900);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Geologica';
}

a {
  position: relative;
}

html {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  max-width: 1877px;
}

#root > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

html, body, #root, #root > div {
  height: 100%;
  width: 100%;
}

body {
  background-color: #C8C8C8;
  padding: 20px;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
background: #00000034;
border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
background: #0000005e;
}

@media screen and not (min-width : 680px) {
    
    body {
        padding: 5px 0px 5px 2px;
    }
}
